<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwray.iw.points.mapper.PointsTaskBaseMapper">

    <select id="queryOneById" resultType="com.itwray.iw.points.model.bo.PointsTaskFullBo">
        SELECT ptb.*,
               pto.deadline,
               ptp.periodic_type,
               ptp.periodic_interval,
               ptp.penalty_points,
               ptp.max_execution_count
        FROM points_task_base ptb
        LEFT JOIN points_task_once pto ON ptb.id = pto.id
        LEFT JOIN points_task_periodic ptp ON ptb.id = ptp.id
        where ptb.id = #{id}
    </select>
</mapper>
