<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwray.iw.bookkeeping.mapper.BookkeepingRecordsMapper">

    <select id="statistics" resultType="com.itwray.iw.bookkeeping.model.bo.RecordsStatisticsBo">
        SELECT record_category AS recordCategory,
               SUM(amount) AS totalAmount
        FROM bookkeeping_records
        WHERE deleted = 0
          AND record_date BETWEEN #{dto.recordStartDate} AND #{dto.recordEndDate}
        GROUP BY record_category
    </select>
    <select id="totalStatistics"
            resultType="com.itwray.iw.bookkeeping.model.vo.BookkeepingConsumeStatisticsTotalVo">
        SELECT SUM(amount) AS totalAmount, count(*) AS totalRecordNum
        FROM bookkeeping_records
        WHERE deleted = 0
          AND record_category = #{dto.recordCategory}
          AND record_date BETWEEN #{dto.currentStartMonth} AND #{dto.currentEndMonth}
    </select>
    <select id="categoryStatistics"
            resultType="com.itwray.iw.bookkeeping.model.vo.BookkeepingConsumeStatisticsCategoryVo">
        SELECT record_type, sum(amount) AS amount, count(*) AS recordNum
        FROM bookkeeping_records
        WHERE deleted = 0
          AND record_category = #{dto.recordCategory}
          AND record_date BETWEEN #{dto.currentStartMonth} AND #{dto.currentEndMonth}
        GROUP BY record_type
        ORDER BY amount desc
    </select>
</mapper>