# 服务器配置
server:
  servlet:
    context-path: /auth-service
  port: 18001

# spring 配置
spring:
  application:
    name: iw-auth-service
  datasource:
    driver-class-name: ${iw.db.driver-class}
    url: ${iw.db.url}
    username: ${iw.db.username}
    password: ${iw.db.password}
  config:
    import:
      - optional:nacos:iw-web
      - optional:nacos:${spring.application.name}.yml
  cloud:
    nacos:
      discovery:
        enabled: true
      config:
        file-extension: yaml
      password: ${SPRING_CLOUD_NACOS_PASSWORD}
      username: ${SPRING_CLOUD_NACOS_USERNAME}
      server-addr: ${SPRING_CLOUD_NACOS_SERVER_ADDR}
  data:
    redis:
      host: ${iw.redis.host}
      port: ${iw.redis.port}
      password: ${iw.redis.password}
      database: ${iw.redis.database}
      lettuce:
        pool:
          enabled: true
      client-type: lettuce

# springdoc 配置
springdoc:
  swagger-ui:
    path: /doc.html
  packages-to-scan:
    - com.itwray.iw.auth.controller